@model Study.Models.Classroom

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Classroom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfClassroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfClassroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Places)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Places)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassroomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassroomType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClassroomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
