@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model ClassroomsViewModel

@{
    ViewData["Title"] = "Аудитории";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Classroom = Model.NumberOfClassroom;
    TimeSpan LessonTime = Model.LessonTime;
    string ClassroomType = Model.ClassroomType;
    DateTime? LessonDate = Model.LessonDate;
}

<h1>Аудитории</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a class="link-success" asp-action="Create">Добавить</a>
    </p>
}   
<form action="@Url.Action("Index", "Classrooms")" method="post">
    <div class="row g-3">
        <div class="col-auto"> 
            @Html.TextBox("NumberOfClassroom", Classroom,new {Placeholder="Номер", style = "width: 100px;",@class="form-control custom-font-size"})
         </div>
         <div class="col-auto"> 
            <input class="btn btn-outline-primary" style="margin-left: 10px" type="submit" value="Найти" />
        </div>
    </div>
</form>
<form action="@Url.Action("ClassroomByLessonTime", "Classrooms")" method="post">
    <div class="row g-3">
        <div class="col-auto">
            @Html.TextBox("ClassroomType", ClassroomType,new {placeholder="Тип аудитории", style = "width: 100px;",@class="form-control custom-font-size"})
        </div>
        <div class="col-auto">
            @Html.TextBox("LessonTime", LessonTime,new {placeholder="Время урока", type = "time",style = "width: 100px;",@class="form-control custom-font-size"})
        </div>
        <div class="col-auto">
            <input asp-for="@Model.LessonDate" placeholder="Дата урока" type="text" onfocus="(this.type = 'date')" name="LessonDate" class="form-control custom-font-size" style="width: 100px;"></input>
        </div>
        <div class="col-auto">
            <input class="btn btn-outline-primary" style="margin-left: 10px" type="submit" value="Найти свободные аудитории" />
        </div>
    </div>
</form>
<table class="table">
    <thead>

        <tr>
            <th>
                   
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.ClassroomSort>
                    @Html.DisplayNameFor(model => model.NumberOfClassroom)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classrooms.FirstOrDefault().Places)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classrooms.FirstOrDefault().Wing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classrooms.FirstOrDefault().ClassroomType)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
@foreach (var item in Model.Classrooms) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfClassroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Places)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassroomType)
            </td>

            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="link-warning" asp-action="Edit" asp-route-id="@item.ClassroomId">Обновить</a> |
                    <a class="link-info" asp-action="Details" asp-route-id="@item.ClassroomId">Детали</a> |
                    <a class="link-danger" asp-action="Delete" asp-route-id="@item.ClassroomId">Удалить</a>
                </td>
            }
            else
            {
                <td>
                    <a class="link-info" asp-action="Details" asp-route-id="@item.ClassroomId">Детали</a> |
                </td>
            }
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>