@model DisciplinesViewModel

@{
    ViewData["Title"] = "Дисциплины";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string DisciplineName = Model.DisciplineName;
}

<h1>Дисциплины</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a class ="link-success" asp-action="Create">Добавить</a>
    </p>
}
<form action="@Url.Action("Index", "Disciplines")" method="post">
    <div class="row g-3">
        <div class="col-auto">
            @Html.TextBox("DisciplineName", DisciplineName, new {placeholder="Дисциплина", style = "width: 100px;",@class="form-control custom-font-size"})
        </div>
        <div class="col-auto">
            <input class="btn btn-outline-primary" style="margin-left: 10px" type="submit" value="Найти" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.DisciplineNameSort>
                    @Html.DisplayNameFor(model => model.DisciplineName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Disciplines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineName)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="link-warning" asp-action="Edit" asp-route-id="@item.DisciplineId">Обновить</a> |
                    <a class="link-info" asp-action="Details" asp-route-id="@item.DisciplineId">Детали</a> |
                    <a class="link-danger" asp-action="Delete" asp-route-id="@item.DisciplineId">Удалить</a>
                </td>
            }
            else
            {
                <td>
                    <a class="link-info" asp-action="Details" asp-route-id="@item.DisciplineId">Детали</a> |
                </td>
            }
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
