@model Lesson
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Урок</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfweek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfweek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.ClassroomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classroom.ClassroomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.DisciplineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discipline.DisciplineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplineType.TypeOfDiscipline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisciplineType.TypeOfDiscipline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonTime.LessonTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonTime.LessonTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentsGroup.NumberOfGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentsGroup.NumberOfGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherName)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin")){
        <a class="link-warning" asp-action="Edit" asp-route-id="@Model?.LessonId">Обновить</a>
    }
    <a asp-action="Index">Вернуться к списку</a>
</div>
