@model LessonViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lessons</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().Semestr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().LessonDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().DayOfweek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().DisciplineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().LessonTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().StudentsGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.FirstOrDefault().Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lessons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Semestr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfweek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.ClassroomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline.DisciplineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineType.TypeOfDiscipline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTime.LessonTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentsGroup.NumberOfGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LessonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LessonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LessonId">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>