@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model StudentsGroupViewModel

@{
    ViewData["Title"] = "Группы студентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string NumberOfGroup = Model.NumberOfGroup;
    string Facility = Model.Facility;
}

<h1>Группы студентов</h1>
    @if (User.IsInRole("admin"))
    {
        <p>

            <a class="link-success" asp-action="Create">Добавить</a>

        </p>
    }
<form  action="@Url.Action("Index", "StudentsGroups")" method="post">
    <div class="row g-3">
        <div class="col-auto">
            @Html.TextBox("NumberOfGroup", NumberOfGroup, new {placeholder="Номер группы", style = "width: 100px;",@class="form-control custom-font-size"})
        </div>
        <div class="col-auto">
            @Html.TextBox("Facility", Facility, new {placeholder="Факультет", style = "width: 100px;",@class="form-control custom-font-size"})
        </div>
        <div class="col-auto">
            <input class="btn btn-outline-primary" style="margin-left: 10px" type="submit" value="Найти" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.StudentGroupState>
                    @Html.DisplayNameFor(model => model.NumberOfGroup)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsGroups.FirstOrDefault().QuantityOfStudents)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.FacilityNameState>
                    @Html.DisplayNameFor(model => model.Facility)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentsGroups) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOfStudents)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Facility.FacilityName)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="link-warning" asp-action="Edit" asp-route-id="@item.StudentsGroupId">Обновить</a> |
                    <a class="link-info" asp-action="Details" asp-route-id="@item.StudentsGroupId">Детали</a> |
                    <a class="link-danger" asp-action="Delete" asp-route-id="@item.StudentsGroupId">Удалить</a>
                </td>
            }
            else
            {
                <td>
                    <a class="link-info" asp-action="Details" asp-route-id="@item.StudentsGroupId">Детали</a> |
                </td>
            }
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
