@model TeachersViewModel

@{
    ViewData["Title"] = "Учителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string TeacherName = Model.TeacherName;
}

<h1>Учителя</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a class="link-success" asp-action="Create">Добавить</a>
    </p>
}
<form action="@Url.Action("Index", "Teachers")" method="post">
    <div class="row g-3">
        <div class="col-auto">
            @Html.TextBox("TeacherName", TeacherName, new {placeholder="Учитель", style = "width: 100px;",@class="form-control custom-font-size"})
        </div>
        <div class="col-auto">
            <input class="btn btn-outline-primary" style="margin-left: 10px" type="submit" value="Найти" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.TeacherSort>
                    @Html.DisplayNameFor(model => model.TeacherName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teachers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="link-warning" asp-action="Edit" asp-route-id="@item.TeacherId">Обновить</a> |
                    <a class="link-info" asp-action="Details" asp-route-id="@item.TeacherId">Детали</a> |
                    <a class="link-danger" asp-action="Delete" asp-route-id="@item.TeacherId">Удалить</a>
                </td>
            }
            else
            {
                <td>
                    <a class="link-info" asp-action="Details" asp-route-id="@item.TeacherId">Детали</a> |
                </td>
            }
        </tr>
}
    </tbody>
</table>
